/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */
/* Layout container */
@media (min-width: 500px) {
  .container {
    width: 500px;
    margin: 0 auto;
    line-height: 1.6;
    width: 70%;
  }
  .topBarContainer {
    height: 31.042px;
    width: 100vw;
    background-color: #999999;
  }

  .navBarContainer {
    height: 10vh;
  }

  .jumbotronContainer {
    width: 80vw;
    height: 70vh;
    margin-right: 10vw;
    margin-left: 10vw;
  }

  .midContainer1 {
    width: 100vw;
    height: 15vh;
    background-color: #999999;
  }

  .boxItems5 {
    width: 100vw;
    height: 35vh;
    background-color: #999999;
  }

  .bottomContainer {
    height: 17vh;
    width: 100vw;
    background-color: #ff9c00;
    margin-top: 302px;
  }

  .footer {
    background-color: #999999;
  }

  h2 {
    color: white;
    font-family: "Lato", sans-serif;
  }

  a {
    color: white;
  }

  /* box elements */
  /*  TOP BAR CONTAINER */
  .topBar {
    display: flex;
    justify-content: flex-end;
  }

  .topBar a {
    margin: 0 9px;
    margin-top: 3px;
    color: white;
    justify-content: center;
    font-size: 11px;
    padding: 0 20 px;
    letter-spacing: 0.15em;
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }

  .topBar a:hover {
    color: black;
  }

  /*  NAV BAR CONTAINER */
  .navBar {
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
  }

  .navBar a {
    margin: 0 9px;
    margin-top: 3px;
    padding: 8px 14px;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    color: #f68e1e;
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: 1.1em;
  }

  .navBar .donate {
    border: 2px solid #ff9c00;
  }

  /* JUMBOTRON CONTAINER */
  .jumbotronContainer {
    display: flex;
    justify-content: center;
  }
  .image1 {
    margin: 5px;
    margin-top: 20px;
    width: 35vw;
    height: 55vh;
  }

  .sideDetail {
    margin-top: 50px;
    margin-right: 50px;
    width: 20vw;
    height: 30vh;
    padding: 60px;
    background: #ff9c00;
    color: #fffff9;
    letter-spacing: 0.05em;
    font-size: 1.4rem;
    font-weight: 400;
  }

  /* FIRST MID CONTAINER */
  .midText {
    margin: 10px;
    margin-top: 20px;
    height: 10vh;
    background-color: #999999;
    color: #fffff9;
    padding-top: 20px;
  }

  /* SECOND MID CONTAINER */
  .boxItems5 .items6 {
    margin: 37px;
    margin-top: 20px;
    width: 18vw;
    height: 23vh;
  }

  .boxItems5 {
    display: flex;
    justify-content: center;
    background-color: #999999;
  }
  .midText {
    align-content: center;
    text-align: center;
  }
  /* THIRD MID CONTAINER */
  .items7 {
    margin-top: 20px;
    width: 50vw;
    height: 35vh;
  }

  .items8 {
    margin: 37px;
    margin-top: 20px;
    width: 35vw;
    height: 25vh;
  }

  .boxItems6 {
    display: flex;
    flex-flow: row-wrap;
    justify-content: flex-end;
  }

  /* FOURTH MID CONTAINER */
  .midContainer4 .boxItems7 .itemTitle {
    font-size: 18px;
    padding-bottom: 10px;
    color: #ff9c00;
  }

  .items10 {
    margin-top: -103px;
    margin-right: -30px;
    width: 43vw;
    height: 47vh;
    float: right;
  }

  .button {
    background-color: white;
    border: 2px solid #ff9c00;
    color: #ff9c00;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 17px;
    line-height: 1.58em;
    margin-top: 35px;
    font-weight: bold;
  }
  .boxItems7 {
    margin-top: 30px;
  }
  .midContainer4:before {
    content: " ";
    display: block;
    width: 30%;
    margin: 0 auto;
    padding-top: 60px;
    border-top: 2px solid #999999;
  }

  /* FIFTH MID CONTAINER */
  .midContainer5 .boxItems8 .itemTitle2 {
    font-size: 18px;
    padding-bottom: 10px;
    margin-top: 205px;
    color: #ff9c00;
  }

  .items11 {
    margin-top: -42px;
    margin-right: -30px;
    width: 43vw;
    height: 47vh;
    float: right;
  }

  .boxItems8 {
    margin-top: 30px;
  }

  /* SIXTH MID CONTAINER */
  .midContainer6 .boxItems9 .itemTitle3 {
    font-size: 18px;
    padding-bottom: 10px;
    margin-top: 220px;
    color: #ff9c00;
  }

  .items12 {
    margin-top: -72px;
    margin-right: -30px;
    width: 43vw;
    height: 47vh;
    float: right;
  }

  /* BOTTOM CONTAINER */
  .item15 {
    color: #ffffff;
    border-color: #ffffff;
    border: 2px solid #ffffff;
    font: "Lato", sans-serif;
    font-weight: 900;
    letter-spacing: 0.15em;
    padding: 0.5em 1.75em;
    margin: 3em 0;
  }

  .boxItems10 {
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
  }

  /* FOOTER CONTAINER */
  .footer {
    color: #ffffff;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }

  .helpfulLinks {
    display: flex;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
    margin-top: 20px;
  }

  .socialMedia {
    padding-inline-start: 40px;
    list-style: none;
    display: flex;
  }

  .footerSignUp {
    color: black;
    font-size: 0.9rem;
    margin-top: -350px;
    margin-left: 609px;
  }
  input {
    width: 25vh;
    padding: 7px;
    margin-top: 3px;
    margin-bottom: 20px;
  }
  .label {
    font-weight: bold;
  }

  .button2 {
    background-color: #999999;
    border: 2px solid white;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.58em;
    margin-top: 5px;
    font-weight: bold;
    width: 25vh;
  }
}

/*    Mobile version    */
@media (max-width: 500px) {
  body {
    width: 500px;
    background-color: #999999;
  }
  /* Layout container */
  .container {
    width: 500px;
    margin: 0 auto;
    line-height: 1.6;
    width: 70%;
  }
  .topBarContainer {
    height: 31.042px;
    width: 100vw;
    background-color: #999999;
  }

  .jumbotronContainer {
    width: 80vw;
    height: 70vh;
    margin-right: 10vw;
    margin-left: 10vw;
  }

  .midContainer1 {
    width: 100vw;
    height: 15vh;
    background-color: #999999;
  }

  .boxItems5 {
    width: 100vw;
    height: 35vh;
    background-color: #999999;
  }

  .bottomContainer {
    height: 17vh;
    width: 100vw;
    background-color: #ff9c00;
    margin-top: 0px;
  }

  .footer {
    background-color: #999999;
  }

  h2 {
    color: white;
    font-family: "Lato", sans-serif;
  }

  a {
    color: white;
  }

  /* box elements */
  /*  TOP BAR CONTAINER */
  .topBar {
    display: flex;
    justify-content: flex-end;
  }

  .topBar a {
    margin: 0 9px;
    margin-top: 3px;
    color: white;
    justify-content: center;
    font-size: 11px;
    padding: 0 20 px;
    letter-spacing: 0.15em;
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }

  .topBar a:hover {
    color: black;
  }

  /* JUMBOTRON CONTAINER */
  .jumbotronContainer {
    height: 57vh;
  }
  .image1 {
    margin: -49px;
    margin-top: -50px;
    width: 102vw;
    height: 40vh;
  }

  .sideDetail {
    margin-top: 46px;
    margin-right: 50px;
    margin-left: -48px;
    width: 102vw;
    height: 15vh;
    padding: 40px;
    background: #ff9c00;
    color: #fffff9;
    letter-spacing: 0.05em;
    font-size: 1.4rem;
    font-weight: 400;
  }

  br {
    display: none;
  }

  /* FIRST MID CONTAINER */
  .midContainer1 {
    margin-top: -70px;
  }

  .midText {
    margin: 10px;
    margin-top: 20px;
    height: -2vh;
    background-color: #999999;
    color: #fffff9;
    padding-top: 20px;
    align-content: center;
    text-align: center;
  }

  /* SECOND MID CONTAINER */
  .boxItems5 {
    margin: 37px;
    margin-top: 111px;
    width: 18vw;
    height: 23vh;
  }

  .items6 {
    width: 95vw;
    height: 30vh;
    margin-left: -26px;
    margin-bottom: 35px;
  }

  /* THIRD MID CONTAINER */
  .items7 {
    margin-top: 610px;
    width: 100vw;
    height: 29vh;
    margin-bottom: 3px;
    margin-right: -297px;
    margin-left: -75px;
  }

  .items8 {
    margin: 38px;
    margin-top: -12px;
    margin-left: -75px;
    width: 100vw;
    height: 38vh;
  }

  /* FOURTH MID CONTAINER */
  .midContainer4 {
    background-color: white;
    margin-top: -46px;
  }
  .itemTitle {
    font-size: 23px;
    margin-top: 332px;
    margin-left: -52px;
    color: #ff9c00;
    position: absolute;
  }

  .items10 {
    width: 91vw;
    height: 32vh;
    display: inline-block;
    margin: 49px -51px;
    background-color: white;
  }

  .button {
    background-color: white;
    border: 2px solid #ff9c00;
    color: #ff9c00;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 134px;
    padding-right: 134px;
    line-height: 1.58em;
    margin-top: 35px;
    font-weight: bold;
  }

  /* FIFTH MID CONTAINER */
  .midContainer5 {
    background-color: white;
    margin-top: -30px;
  }
  .itemTitle2 {
    font-size: 23px;
    margin-top: 387px;
    margin-left: -52px;
    color: #ff9c00;
    position: absolute;
  }

  .items11 {
    width: 91vw;
    height: 32vh;
    display: inline-block;
    margin: 96px -51px;
    background-color: white;
  }

  .boxItems8 {
    margin-top: 30px;
  }

  /* SIXTH MID CONTAINER */
  .midContainer6 {
    background-color: white;
    margin-top: -30px;
    padding-bottom: 94px;
  }

  .itemTitle3 {
    font-size: 23px;
    margin-top: 387px;
    margin-left: -52px;
    color: #ff9c00;
    position: absolute;
  }

  .items12 {
    width: 91vw;
    height: 32vh;
    display: inline-block;
    margin: 96px -51px;
    background-color: white;
  }

  /* BOTTOM CONTAINER */
  .item15 {
    color: #ffffff;
    border-color: #ffffff;
    border: 2px solid #ffffff;
    font: "Lato", sans-serif;
    font-weight: 900;
    letter-spacing: 0.15em;
    margin: 4em 0;
    font-size: 14px;
    padding: 5px;
  }

  .boxItems10 {
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
  }

  /* FOOTER CONTAINER */
  .footer {
    color: #ffffff;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }

  .helpfulLinks {
    display: flex;
  }

  ul {
    list-style: none;
    margin-top: 20px;
    margin-left: -48px;
    padding-right: 155px;
  }

  .socialMedia {
    list-style: none;
    margin-left: -51px;
  }

  .footerSignUp {
    color: black;
    font-size: 0.9rem;
    padding-top: 125px;
    margin-left: -49px;
  }

  input {
    width: 56vh;
    padding: 7px;
    margin-top: 3px;
    margin-left: -20px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
  }
  .label {
    font-weight: bold;
    margin-left: 141px;
  }

  .footerText {
    text-align: center;
  }
  .button2 {
    background-color: #999999;
    border: 2px solid white;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.58em;
    margin-top: 5px;
    font-weight: bold;
    width: 25vh;
    margin-left: 90px;
  }

  .newsletterSuccessHidden {
    padding-bottom: 49px;
  }
}
