/*
.mainContainer
{
  padding: rem-calc(20);
  border: 1px solid green;
  width: 100vw;
  height: 100vh;
}
*/
/* border web layout */
html {
  box-sizing: border-box;
}

.topBarContainer {
  border: 1px solid red;
  height: 4vh;
}

.navBarContainer {
  border: 1px solid red;
  height: 10vh;
}

.jumbotronContainer{
  border: 1px solid red;
  width: 80vw;
  height: 70vh;
  margin-right: 10vw;
  margin-left: 10vw; 
}

.midContainer1{
  border: 1px solid red;
  width: 100vw;
  height: 15vh;
}

.midContainer2{
  border: 1px solid red;
  width: 100vw;
  height: 35vh;
}

.midContainer3
{
  border: 1px solid red;
  width: 100vw;
  height: 40vh;
}

.midContainer3
{
  border: 1px solid red;
  width: 100vw;
  height: 40vh;
}

.midContainer4
{
  border: 1px solid red;
  width: 100vw;
  height: 40vh;
}

.midContainer5
{
  border: 1px solid red;
  width: 100vw;
  height: 40vh;
}

.bottomContainer
{
  border: 1px solid red;
  width: 100vw;
  height: 15vh;
}

.footer
{
  border: 1px solid red;
  width: 100vw;
  height: 60vh;
}

/* box elements */
.boxItems .item {
  border: 1px solid blue;
  margin: 2px;
  width: 5vw;
  height: 2vw;
}

.boxItems{
  display: flex;
  flex-flow: row-wrap;
  justify-content: flex-end;
}