/*.jumbotron {
}
*/

.mainContainer
{
  padding: rem-calc(20);
  border: 1px solid green;
  width: 100vw;
  height: 100vh;
}

.topBarContainer {
  padding: 0.2% 3%;
  border: 1px solid red;
  height: 4vh;
}

.navBarContainer {
  border: 1px solid red;
  height: 10vh;
}

.jumbotronContainer{
  border: 1px solid red;
  width: 80vw;
  height: 70vh;
  margin-right: 10vw;
  margin-left: 10vw; 
}
/*
.mid-content {
  width: 100vw;
  height: 50vh;
  border: 1px solid #00ba73;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
